<div class="well">

  <%= semantic_form_for @post do |f| %>
      <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@post.errors.count, "error") %> prohibited
              this post from being saved:</h2>
            <ul>
              <% @post.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <%= f.inputs do %>
        <%= f.input :title %>
        <%= f.input :text, :as =>:rich %>
      <% end %>
      <p>
        <%= f.submit :class => "btn btn-success" %>
      </p>
  <% end %>


</div>
