
    <div class="well post-body" id="main">

      <header>
        <h2 class="post-title"><%= link_to post.title, post_path(post) %></h2>
      </header>

      <div class="post-info">
        <%= post.created_at.strftime('%A, %b %d') %>
        By <a class="url fn" href="#">
        <%if(post.user_id) %>
            <%=User.find(post.user_id).email.partition('@').first%>
        <% end %></a>
      </div><!-- /.post-info -->

      <% if post.image %>
        <%= image_tag(post.image, :class => "post-image")%>
      <% end %>

      <div class="post-content">
        <p class="lead"><%= post.text.html_safe %></p>
        <% if post.songs.any? %>

            <ul id="<%= post.id %>" class="mejs-list">
                <% for song in post.songs %>

                  <li <% if post.songs.first == song %>class="current"  <%end%>>
                    <h4 id="<%= song.id %>" class="song-title"> <%= song.title.html_safe %></h4>
                    <audio id="audio-player" src="<%= song.source %>" type="audio/mp3" controls="controls" preload="none">   </audio>
                  </li>

                <% end %>
            </ul>
         <%end%>
        <div style="padding-top: 20px">
        <% if post.tags.any? %>
            <% for tag in post.tag_list.sort_by!{ |tag| tag.downcase } %>
               <span class="label"> <%= link_to tag, tag_path(tag),:class => "tag" %></span>
            <% end %>
        <%end%></div>
      </div>

      <div class=" btn-group">
        <% if can? :destroy, post %>
            <%= link_to 'Delete', post_path(post), method: :delete, data: {confirm: 'Are you sure?'},:class=>"btn btn-danger" %>
        <% end %>
        <% if can? :edit, post %>
            <%= link_to 'Edit', edit_post_path(post), :class=>"btn btn-success" %>
        <% end %>
      </div>
      <span style="font: normal 1.5em 'Trebuchet MS', Tahoma, Helvetica, Arial, sans-serif; float: right"><%= link_to "Comments #{post.comments.count}", post_path(post, anchor: "comments") %></span>
    </div>