

<div class="well jumbotron">
    <div class="container">
        <h2>October releases</h2>
        <%= image_tag("shamelesstheft2.png", :alt => "rss feed") %>
    </div>
</div>

<% @posts.each do |post| %>
    <div class="well post-body" id="main">

        <header>
            <h2 class="post-title"><%= link_to post.title, post_path(post) %></h2>
        </header>

        <div class="post-info">
            <%= post.created_at.to_formatted_s(:short) %>
            By <a class="url fn" href="#">
                <%if(post.user_id) %>
                    <%=User.find(post.user_id).email%>
                <% end %></a>
        </div><!-- /.post-info -->

        <div class="post-content">
            <p class="lead"><%= post.text.html_safe %></p>
        </div>

        <div class=" btn-group">
            <% if can? :edit, post %>
                <%= link_to 'Edit', edit_post_path(post), :class=>"btn btn-success" %>
            <% end %>
            <% if can? :destroy, post %>
                <%= link_to 'Delete', post_path(post), method: :delete, data: {confirm: 'Are you sure?'},:class=>"btn btn-danger" %>
            <% end %>
        </div>
     <span style="font: normal 1.5em 'Trebuchet MS', Tahoma, Helvetica, Arial, sans-serif; float: right"><%= link_to "Comments #{post.comments.count}", post_path(post, anchor: "comments") %></span>
    </div>
<%end%><!-- /#posts-list -->
 <div class="pull-right">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
 </div>
