
<% if @tag %>
    <div class="well" style="padding: 0 0 0 0"><div id="tag-header"><h1><%= @tag %> </h1></div></div>
    <% if @tag == "#featured" %>
        <%= render partial: "featured", object: @featured %>
    <% end %>
<% else %>
        <%= render partial: "featured", object: @featured %>
 <% end %>
 <div id="posts">
   <%= render @posts %>
 </div>

 <%= will_paginate @posts %>


