

<div class="well post-body" id="main">


<h2><%= @post.title %></h2>
  <div class="post-info">
    <%= @post.created_at.to_formatted_s(:short) %>
    By <a class="url fn" href="#"><%if(@post.user_id) %>
        <%=User.find(@post.user_id).email%>
    <% end %></a>


  </div><!-- /.post-info -->

  <p class="lead post-content">
    <%= @post.text %>
    <div class="btn-group">
      <%= link_to 'Back', posts_path, :class => "btn btn-inverse" %>
      <% if can? :edit, @posts %>
           <%= link_to 'Edit', edit_post_path(@post), :class => "btn btn-inverse" %>
      <% end %>
    </div>
  </p>

</div>


 <div class="well">
   <h2><a name="comments"></a>Comments</h2>
   <%= render @post.comments %>

   <button type="button" class="btn btn-success btn-block" data-toggle="collapse" data-target="#comments-form">
     Add a comment
   </button>
  <div id="comments-form" class="collapse" style="padding-top: 10px">
    <%= render "comments/form" %>
  </div>





 </div>

